[*.json]
indent_style = space
indent_size = 2
preserve_newlines = true

[*.jsonc]
indent_style = space
indent_size = 2
preserve_newlines = true

[*.tf]
indent_style = space
indent_size = 2
preserve_newlines = true

[*.tfvars]
indent_style = space
indent_size = 2
preserve_newlines = true